<!DOCTYPE html>
<html lang="es">
<!-- Incluir encabezado -->
<%- include('partials/head', {title: 'Inicio'}) %>
<body>
	<!-- /Encabezado -->
	<%- include('partials/headerNavbar') %>
    <!-- /Encabezado -->
	
	<!-- Bandera -->
	<div class="banner"></div>
	<!-- /Banner -->

	<!-- ultima visita -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Basado en tu última visita</h2>
			</div>
			<!-- Mostrar los productos "visitados" -->
			<% for (const articulo of visitedProducts){  %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/<%= articulo.id  %>">
							<figure class="product-box_image">
								<img src="/images/products/<%= articulo.image  %>" alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<h2>$<%= articulo.price.toLocaleString('es-Ar')  %></h2>
								<% if (articulo.discount != 0) { %>
								<span><%= articulo.discount  %> % OFF</span>
								<% } %>
								<p><%= articulo.name  %></p>
								<i class="fas fa-truck"></i>
							</article>
						</a>
					</section>
				</div>
			<% } %>
		</div>
	</div>
	<!-- /ultima visita -->

	<!-- Ofertas -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ofertas</h2>
			</div>
			<!-- Mostrar los productos "en oferta" -->
			<% for (const articulo of inSaleProducts) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/<%= articulo.id %>">
						<figure class="product-box_image">
							<img src="/images/products/<%= articulo.image %>" alt="imagen de producto">
						</figure>
						<article class="product-box_data">
							<h2>$<%= articulo.price.toLocaleString('es-AR') %></h2>
							<% if (articulo.discount != "") { %>
							<span><%= articulo.discount %> % OFF</span>
							<% } %>
							<p><%= articulo.name %></p>
							<i class="fas fa-truck"></i>
						</article>
					</a>
				</section>
			</div>
			<% } %>
		</div>
	</div>
	<!-- /Ofertas -->

    <!-- pie de página -->
	<%- include('partials/footer') %>
    <!-- pie de página -->
</body>	
</html>